extends includes/master

block vars
	- var script = 1;
	- var css = 0;
	- var title = 'Arma tu mancha';
	- var modal = 0;

block content
	.page3
		.page3__main
			section.section1
				.section1__align
					.section1__header
						.links
							a.btnBack(href="#") 
								span Volver 
						.title
							h2 Bono de 
								img(src=path+'assets/pg2_icon_giga.svg' alt='') 
					.section1__main
						.title 
							h2 Tu mancha ya está registrada con el beneficio 
							p Recibirás tu código de líder por SMS y además,
								br
								| los miembros también recibirán un SMS para que acepten unirse
						.content 
							.content__info
								h3 Mira quiénes ya forman parte de tu mancha 
						.links
							a(href="#") Continuar

block modal
	.page1
		.page1__close(@click='closeModal()') Cerrar
		section.section1
			.section1__content
				.section1__data
					iframe(height="315" :src="video.url" frameborder="0" allow="encrypted-media" allowfullscreen )
block css
	style(type="text/css").
			
			.fade-enter-active, .fade-leave-active {
				transition: opacity 0.25s ease-out;
			}

			.fade-enter, .fade-leave-to {
				opacity: 0;
			}

block javascript
	script(type="text/javascript" src=path+'js/library/slick.js' charset="utf-8")
	script(type='text/javascript' src=path+'js/main.js')
	script(type='text/javascript').
		//main.init();