extends includes/master

block vars
	- var script = 1;
	- var css = 0;
	- var title = 'Arma tu mancha';
	- var modal = 0;

block content
	.page5
		.page5__main
			section.section1
				.section1__align
					.section1__header
						.links
							a.btnBack(href="#") 
								span Volver
					.section1__main
						.title 
							h2 ¡Bienvenido Spiderman!
							p Te hemos enviado nuevamente tu código de líder
						.links
							a(href="#") Aceptar

block modal
	.page1
		.page1__close(@click='closeModal()') Cerrar
		section.section1
			.section1__content
				.section1__data
					iframe(height="315" :src="video.url" frameborder="0" allow="encrypted-media" allowfullscreen )
block css
	style(type="text/css").
			
			.fade-enter-active, .fade-leave-active {
				transition: opacity 0.25s ease-out;
			}

			.fade-enter, .fade-leave-to {
				opacity: 0;
			}

block javascript
	script(type="text/javascript" src=path+'js/library/slick.js' charset="utf-8")
	script(type='text/javascript' src=path+'js/main.js')
	script(type='text/javascript').
		//main.init();