a.btn.btn-generico {
    display: inline-block;
    background: white;
    color: #999;
    border: 1px solid #eee;
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 37px;
}

a.btn-generico:hover{
    background: red;
    color: white;
}
.activado{
    background: red !important;
    color: white !important;
}
