.error {
    color: red;
    font-size: 12px;
    display: block;
    max-width: 90%;
}

.title2 h2{
    font: normal 500 2.1875em "Roboto";
    color: #ffffff;
    position: relative;
}
.slick-dots{
    display:none !important;
}

input.form__text2.f1 {
    width: 52px !important;
}
input.f2 {
    width: 163px !important;
    margin-left: -15px;
}

#lbl-autoriza {
    display:inline-block !important;
}
@media screen and (max-width: 425px){
    .layout__main .page1__main .section1__main .content {
        border: none;
        padding-bottom: 58px;
    }
}
