.error {
    color: red;
    font-size: 12px;
    display: block;
    max-width: 90%;
}

.title2 h2{
    font: normal 500 2.1875em "Roboto";
    color: #ffffff;
    position: relative;
}
.slick-dots{
    display:none !important;
}


@media screen and (max-width: 425px){
    .layout__main .page1__main .section1__main .content {
        border: none;
        padding-bottom: 58px;
    }
}
